<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ACESIPCA</title>
<link rel="stylesheet" type="text/css" href="/styles/index.css">
</head>
<body>
<div class="navbar">
  <a href="/howitworks">Como Funciona</a>
  <a href="/contact">Contacte-nos</a>
  <a href="/aboutus">Testemunhos</a>
  <a href="/login" style="background-color: blue; color: white; padding: 5px 15px;">Entrar</a>
</div>

<div class="main-content">
  <h1>ACESIPCA</h1>
  <p>Trate da sua Saúde, aceda as Juntas Medicas</p>
  <a href="/register" class="cta-button">Registe-se aqui</a>
</div>

<div class="footer">
  <p>Rapido, simples e eficaz</p>
</div>

</body>
</html>
