<!-- mechanicHomepage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mechanic Homepage - CarHistoryTracker</title>
    <link rel="stylesheet" href="/styles/mechanicHomepage.css">
</head>
<body>

    <!-- Header -->
    <div class="header">
        <h1>CarHistoryTracker</h1>
    </div>

    <div class="background-image">
        <!-- Add your background image here -->
    </div>
    
    <div class="content-container">
        <div class="content">
            <h2>Bem vindo Mecânico, Escolhe uma opção!
                <p> 
                    place holder
                </p>
                <p> 
                    place holder
                </p>
            </h2>
            
            <!-- Buttons Panel -->
            <div class="buttons-panel">
                <a href="/mechanicHomepage/add-intervention" class="button color1">Adicionar Intervenção</a>
                <a href="/mechanicHomepage/search-vehicle-by-license-plate" class="button color2">Procurar Veiculo por Matricula</a>
                <a href="/mechanicHomepage/search-Vehicle-By-Owner-NIF" class="button color3">Procurar Veiculo por NIF do Dono</a>
                <a href="/mechanicHomepage/search-Owner-By-NIF" class="button color4">Procurar Proprietário por NIF</a>
                <a href="/option5" class="button color5">Em progresso</a>
                <a href="/option6" class="button color6">Em progresso</a>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p class="left">Cherry Waves Studio - Software Solutions</p>
        <p class="right">&copy; 2023 CarHistoryTracker. All rights reserved. Contact us: support@cherrywavesstudio.com</p>
    </footer>
</body>
</html>
