<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ACESIPCA - Register</title>
  <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
  <div class="login-container">
    <h1>ACESIPCA</h1>
    <div class="login-form">
      <h2>Registar</h2>
      <form action="/register" method="post"> <!-- Specify the registration route here -->
        <div class="form-group">
          <label for="nomeutente">Nome</label>
          <input type="text" id="nomeutente" name="nomeutente" placeholder="Introduza o seu nOme" required>
        </div>
        <div class="form-group">
          <label for="nif">NIF</label>
          <input type="text" id="nif" name="nif" placeholder="Introduza o seu NIF" required pattern="\d{9}" title="o NIF tem que ter 9 dgitos">
        </div>             
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Introduza o seu email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Introduza a sua password" required>
        </div>
        <div class="form-footer">
          <p>Já tem uma conta? <a href="/login">Login here</a></p> <!-- Specify the login route here -->
          <button type="submit">Registar</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
