<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer Pedido de Avaliação Médica</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/utente.css">
</head>
<body>
    <header>
        <nav>
          <div class="logo">
            <a href="/index">ACESIPCA</a>
          </div>
          <div class="nav-links">
            <a href="/newRequest">Realizar Pedido de Acesso</a>
            <a href="/editUserDetails">Editar dados Utente</a>
            <a href="/requestsHistory">Historico de Pedidos</a>
          </div>
          <div class="user-info">
            <span>Bem-Vindo </span>
            <a href="/logout">Terminar-Sessao</a>
          </div>
        </nav>
      </header>

    <h1>Adicionar Pedido Avaliação Médica</h1>
    <form method="POST" action="/newRequest">
      <label>Data Pedido:</label>
      <p>Data Atual: <%= currentDate %></p>
      <input type="text" id="dataPedido" name="p_dataPedido" value="<%= currentDate %>" readonly>
      <label for="localidadePedido">Localidade Pedido:</label>
      <input type="text" id="localidadePedido" name="p_LocalidadePedido" required>
      
      <label for="efeito">Efeito:</label>
      <div>
          <p>Escolha um efeito:</p>
          <ul>
            <% efeitoOptions.forEach((efeito) => { %>
              <li><%= efeito.IDEfeito %> - <%= efeito.Descritivo %></li>
            <% }); %>
          </ul>
      </div>
      <input type="text" id="efeito" name="p_EfeitoIDEfeito" placeholder="Digite o ID do efeito" required>

      
      <label for="teCAssinado">TeC Assinado:</label>
      <input type="checkbox" id="teCAssinado" name="p_TeCAssinado">
    
      <h2>Anexo:</h2>
      <input type="file" id="anexo" name="Anexos/Documentos/Exames">
  
      <button type="submit">Submeter</button>
  </form>
    <footer>
        <p>© 2024 ACESIPCA - Todos os direitos reservados</p>
      </footer>
</body>
</html>
