<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fazer Pedido de Avaliação Médica</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/utente.css">
</head>
<body>
    <header>
        <nav>
          <div class="logo">
            <a href="/index">ACESIPCA</a>
          </div>
          <div class="nav-links">
            <a href="/newRequest">Realizar Pedido de Acesso</a>
            <a href="/editUserDetails">Editar dados Utente</a>
            <a href="/requestsHistory">Historico de Pedidos</a>
          </div>
          <div class="user-info">
            <span>Bem-Vindo <%= userName %></span>
            <a href="/logout">Terminar-Sessao</a>
          </div>
        </nav>
      </header>

    <h1>Adicionar Pedido Avaliação Médica</h1>
    <form method="POST" action="/newRequest">
      <!-- Utente ID field removed -->
  
      <label>Data Pedido:</label>
      <span id="dataPedido"><%= currentDate %></span>

  
      <label for="localidadePedido">Localidade Pedido:</label>
      <input type="text" id="localidadePedido" name="localidadePedido" required>
     
      <label for="efeito">Efeito:</label>
      <select id="efeito" name="efeito" required>
        <option value="" disabled selected>Select an option</option> <!-- Placeholder -->
        <% efeitoOptions.forEach((efeito) => { %>
          <option value="<%= efeito.IDEfeito %>"><%= efeito.Descritivo %></option>
        <% }); %>
      </select>
      
      
      <label for="teCAssinado">TeC Assinado:</label>
      <input type="checkbox" id="teCAssinado" name="teCAssinado">
  
      <h2>Anexo:</h2>
      <input type="file" id="anexo" name="Anexos/Documentos/Exames">
  
      <button type="submit">Submeter</button>
  </form>
    <footer>
        <p>© 2024 ACESIPCA - Todos os direitos reservados</p>
      </footer>
</body>
</html>
