<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pedido Avaliação Médica</title>
    <link rel="stylesheet" href="/styles/hp.css">
</head>
<body>
    <h1>Add Pedido Avaliação Médica</h1>
    <form method="POST" action="/addPedidoAvaliacaoMedica">
        <label for="utenteID">Utente ID:</label>
        <input type="text" id="utenteID" name="utenteID" required>

        <label for="dataPedido">Data Pedido:</label>
        <input type="text" id="dataPedido" name="dataPedido" required>

        <label for="localidadePedido">Localidade Pedido:</label>
        <input type="text" id="localidadePedido" name="localidadePedido" required>

        <label for="teCAssinado">TeC Assinado:</label>
        <input type="checkbox" id="teCAssinado" name="teCAssinado">

        <label for="efeitoIDEfeito">Efeito ID:</label>
        <input type="text" id="efeitoIDEfeito" name="efeitoIDEfeito" required>

        <label for="estadoIDEstado">Estado ID:</label>
        <input type="text" id="estadoIDEstado" name="estadoIDEstado" required>

        <label for="ruaResidencia">Rua Residência:</label>
        <input type="text" id="ruaResidencia" name="ruaResidencia" required>

        <label for="distritoResidencia">Distrito Residência:</label>
        <input type="text" id="distritoResidencia" name="distritoResidencia" required>

        <label for="freguesiaResidencia">Freguesia Residência:</label>
        <input type="text" id="freguesiaResidencia" name="freguesiaResidencia" required>

        <label for="concelhoResidencia">Concelho Residência:</label>
        <input type="text" id="concelhoResidencia" name="concelhoResidencia" required>

        <label for="codigoPostalCP">Código Postal CP:</label>
        <input type="text" id="codigoPostalCP" name="codigoPostalCP" required>

        <label for="localidade">Localidade:</label>
        <input type="text" id="localidade" name="localidade" required>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
