<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historico Pedido Avaliação Médica </title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/utente.css">
</head>
<body>
    <header>
        <nav>
          <div class="logo">
            <a href="/index">ACESIPCA</a>
          </div>
          <div class="nav-links">
            <a href="/newRequest">Realizar Pedido de Acesso</a>
            <a href="/editUserDetails">Editar dados Utente</a>
            <a href="/requestsHistory">Historico de Pedidos</a>
          </div>
          <div class="user-info">
            <span>Bem-Vindo, <%= userName %></span>
            <a href="/logout">Terminar-Sessao</a>
          </div>
        </nav>
      </header>

    <h1>Histórico Pedido Avaliação Médica</h1>

    <% if (pedidoAvaliacaoMedicaRecords.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Data do Pedido</th>
                    <th>Localidade do Pedido</th>
                    <th>Tipo de Avaliação</th>
                </tr>
            </thead>
            <tbody>
                <% pedidoAvaliacaoMedicaRecords.forEach(function(record) { %>
                    <tr>
                        <td><%= record.datapedido %></td>
                        <td><%= record.localidadepedido %></td>
                        <td><%= record.tipodeavaliação %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>Nenhum Pedido Encontrado!</p>
    <% } %>

    <a href="/">Regressar</a>
    <footer>
        <p>© 2024 ACESIPCA - Todos os direitos reservados</p>
      </footer>
</body>
</html>
