<!-- createDiagnostico.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Diagnostico Médico</title>
</head>
<body>
    <h1>Criar Diagnostico Médico</h1>
    <p>Request ID: <%= pedidoId %></p>
    <form action="/createDiagnostico/<%= pedidoId %>" method="post">
        <label for="diagnosticoDetails">Detalhes Diagnostico Médico :</label>
        <textarea id="diagnosticoDetails" name="diagnosticoDetails" rows="4" cols="50"></textarea>
        <br>
        <button type="submit">Criar Diagnostico Médico</button>
    </form>
</body>
</html>
