/* public/styles/index.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-color: rgba(200, 200, 200, 0.7); /* Light gray with transparency */
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Ensure the header is above the background image */
}

.background-image {
    background-image: url('/images/login-bk.png');
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content {
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha (4th value) for transparency */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 60px; /* Adjust margin to account for header height */
}

.introduction-panel {
    margin-top: 20px; /* Adjust the margin as needed */
}

.buttons-panel {
    margin-top: 20px; /* Adjust the margin as needed */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add a smooth transition on hover */
    margin-right: 10px; /* Adjust the margin between buttons */
}

.button:hover {
    background-color: #45a049; /* Darker green color on hover */
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.7); /* Light gray with transparency */
    color: black;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Align items with space between */
}

.footer p {
    margin: 0; /* Remove default margin for paragraphs */
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}
