<!-- evaluateRequest.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/utente.css">
</head>
<body>
    <header>
        <nav>
          <div class="logo">
            <a href="/index">ACESIPCA</a>
          </div>
          <div class="nav-links">
            <a href="/viewRequestsM">Ver Pedidos</a>
            <a href="/OutraOpção">Outra Opção
            </a>
          </div>
          <div class="user-info">
            
            <a href="/logout">Terminar-Sessao</a>
          </div>
        </nav>
      </header>

    <h1>Avaliar Pedido</h1>
    <p>Request ID: <%= pedidoId %></p>
    <form action="/autenticated_medico/evaluate/<%= pedidoId %>" method="post">
        <label for="detalhesAvaliacao">Detalhes da Avaliação:</label>
        <textarea id="detalhesAvaliacao" name="detalhesAvaliacao" rows="4" cols="50"></textarea>
        <br>

        <label for="grauIncapacidade">Grau de Incapacidade:</label>
        <input type="number" id="grauIncapacidade" name="grauIncapacidade" step="0.01">
        <br>

        <label for="dataAvaliacao">Data da Avaliação:</label>
        <input type="date" id="dataAvaliacao" name="dataAvaliacao">
        <br>

        <label for="coeficiente">Coeficiente:</label>
        <input type="number" id="coeficiente" name="coeficiente" step="0.01">
        <br>

        <label for="desvalorizacao">Desvalorização:</label>
        <input type="number" id="desvalorizacao" name="desvalorizacao">
        <br>

        <label for="capacidadeRestante">Capacidade Restante:</label>
        <input type="number" id="capacidadeRestante" name="capacidadeRestante">
        <br>

        <button type="submit">Submeter Avaliação</button>
    </form>
    <footer>
        <p>© 2024 ACESIPCA - Todos os direitos reservados</p>
      </footer>
</body>
</html>
