<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ACESIPCA - Página Principal </title>
  <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/utente.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <a href="/index">ACESIPCA</a>
      </div>
      <div class="nav-links">
        <a href="/viewRequests">Ver Pedidos</a>
        <a href="/OutraOpção">Outra Opção
        </a>
      </div>
      <div class="user-info">
        
        <a href="/logout">Terminar-Sessao</a>
      </div>
    </nav>
  </header>
  
  <main>
    <section class="instructions">
      <h1>Como fazer um pedido de acesso a juntas médicas?</h1>
      <ul>
        <li>Avaliar Relatórios relatórios médicos</li>
        <li>Transfira um pedido para Juntas Médicas</li>
      </ul>
    </section>
    
    <section class="doctors-conversation" id="doctorsImageSection">
    </section>
  </main>

  <footer>
    <p>© 2024 ACESIPCA - Todos os direitos reservados</p>
  </footer>
</body>
</html>




